snippet { "Add a block of code wrapped in braces." i
{
	$1
}
endsnippet


snippet anon "A multiline anonymous function." i
function ($1) {
	$2
}
endsnippet


snippet cl "Regular console.log() call."
console.log($1);
endsnippet
