snippet func "An anonymous function" i
function ($1) {
  $2
}$3
endsnippet


snippet cl "Regular console.log() call."
console.log($1);
endsnippet


snippet us "A 'use strict' statement."
'use strict';

$1
endsnippet

