# Expectations
snippet ee "Expect to be equal"
expect(${1:something}).to eq(${2:value})
endsnippet

snippet et "Expect to"
expect($1).to $2
endsnippet

snippet ent "Expect not to"
expect($1).not_to $2
endsnippet
