# Path to the dotfiles.
export DOTFILES="$HOME/dotfiles"

# Where zsh configurations are stored.
export ZSH_CONFIG="$DOTFILES/zsh"

# Where vim configurations are stored.
export VIM_CONFIG="$DOTFILES/vim"
